{% extends 'index.html' %}
<html><body style="background-color:grey;">
{% block content %}
        <table class="table table-striped table-dark table-bordered">
            <td><center>TRACK:</center></td>
            <td><center>PRODUCER:</center></td>
            <td><center>LINK:</center></td>
            <tr>
            {% for p in items %}
                <td><center>{{ p.name }}</center></td>
                {% for d in p.producer.all %}
                <td><center>{{ d }}</center></td>
                {% endfor %}
                <td><center><a href="{{ p.link }}" class="btn btn-info" role="button">Spotify</a></center></td>
            </tr>
                {% endfor %}
            </table>


{% endblock %}
</body></html>