<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Playlist</title>
  </head>
  <body style="background-color:grey;">

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  </div>
</nav>
            <table class="table table-striped table-dark table-bordered">
                <tr>
                <td><h1>Welcome to My Playlist</h1></td>

        <td><font size="-0.5">This is my Playlist, check it for really good underground/bass tracks...<br />
            Please login first to get access, read only!</td>


        </font>
        {% if user.is_authenticated %}
            <td><a href="{% url 'logout' %}">Logout</a>

        {% else %}
            <td><a href="{% url 'login_url' %}">Login</a><br/><a href="{% url 'register_url' %}">Register</a></td>
        {% endif %}
                </tr>

        {% if user.is_authenticated %}
            <td><button onclick="window.location.href = 'http://127.0.0.1:8000/gotoplaylist/tracks/';">Playlist</button></td>
            <td><button onclick="window.location.href = 'http://127.0.0.1:8000/gotoplaylist/labels/';">Labels</button></td>
        {% endif %}
                </table>
        {% block content %}
        {% endblock %}
  </body>
</html>